{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(230, 230, 230);"><b>Contact-Us</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Jagrit Pant</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Jagrit. Currently Pursuing Bachelors in
                    Computer Science and Engineering.My Main Focus is on Cloud Computing and Software Development.I am Also Interested Web Development.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:jagritpant201@gmail.com'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg" height="40" width="40"></a> :
                jagritpant201@gmail.com<br><br>
                <a target="_blank" href='https://github.com/Jagrit2703'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" height="40" width="40"></a> :
                Jagrit2703<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/jagrit-pant-544025191/'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg" height="40" width="40"></a> :
                Jagrit-Pant<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Garvitaa Agarwal</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Garvitaa Agarwal I am from CSE spec. Cloud Computing and my interest lies in the domain of ML and Cloud. I am currently working as an Intern at Microsoft.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:krishna.baldaniya93@gmail.com'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg" height="40" width="40"></a> :
                garvitaa.2021@vitbhopal.ac.in<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/garvitaa-agarwal-672524141/'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg" height="40" width="40"></a> :
                Garvitaa-Agarwal<br>
            </div>
        </div>
    </div>
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Shireen Jain</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Shireen Jain I am from CSE Core. I am into Machine Learning and creating different models to serve different purposes.</p>
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:krishna.baldaniya93@gmail.com'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg" height="40" width="40"></a> :
                shireen.jain2021@vitbhopal.ac.in<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/shireen-jain/'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg" height="40" width="40"></a> :
                Shireen-Jain<br>
            </div>
        </div>
    </div>
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Mudita Pathak </h3>
                <p class="lead" style="font-weight: 350;">Hello, I am Mudita Pathak I am from CSE Core and I am Preparing For my Higher Studies Apart From That My Interest Lies in App Development
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:krishna.baldaniya93@gmail.com'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg" height="40" width="40"></a> :
                mudita.pathak2021@vitbhopal.ac.in<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/mudita-pathak-931a53223/'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg" height="40" width="40"></a> :
                Mudita-Pathak<br>
            </div>
        </div>
    </div>
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Marwa Asad </h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Marwa and I am from CSE Core, I like to understand how the algorithms function and write some of my own 
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:krishna.baldaniya93@gmail.com'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg" height="40" width="40"></a> :
                "email"<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/krishna-baldaniya-5547381a1/'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg" height="40" width="40"></a> :
                "username"<br>
            </div>
        </div>
    </div>
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Sunny </h3>
                <p class="lead" style="font-weight: 350;">Hi, I'm Sunandini, I am from CSE Core and I like to spend my time doing art and coding sometimes 
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:krishna.baldaniya93@gmail.com'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg" height="40" width="40"></a> :
                "email"<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/krishna-baldaniya-5547381a1/'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg" height="40" width="40"></a> :
                "usernmae"<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}